@media (orientation: portrait) {
  .main-content {
    margin: 0;
  }
}
@media (orientation: portrait) and (min-height: 0px) {
  html {
    font-size: 10px;
  }
  .overlayX {
    top: -10%;
    font-size: 125%;
  }
}
@media (orientation: portrait) and (min-height: 700px) {
  html {
    font-size: 12px;
  }
  .overlayX {
    top: -10%;
    font-size: 150%;
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  html {
    font-size: 14px;
  }
  .overlayX {
    top: calc(-10% + 0.5vw);
    font-size: 130%;
  }
}

@media (orientation: landscape) {
  .main-content {
    margin: auto;
  }
}
@media (orientation: landscape) and (min-height: 0px) {
  html {
    font-size: 8px;
  }
}
@media (orientation: landscape) and (min-height: 375px) {
  html {
    font-size: 10px;
  }
  .overlayX {
    top: -10%;
    font-size: 125%;
  }
}
@media (orientation: landscape) and (min-height: 500px) {
  html {
    font-size: 12px;
  }
  .overlayX {
    top: -8%;
    font-size: 130%;
  }
}
@media (orientation: landscape) and (min-height: 600px) {
  html {
    font-size: 14px;
  }
  .overlayX {
    top: -8%;
    font-size: 150%;
  }
}
@media (orientation: landscape) and (min-height: 800px) {
  html {
    font-size: 16px;
  }
  .overlayX {
    top: -8%;
    font-size: 150%;
  }
}
